body {
  font-family: Helvetica;
  margin: auto;
  padding: 1em;
  font-size: 16px;
}

a {
  cursor: pointer;
}

input {
  font-size: 1em;
  padding: 1em;
  border-radius: 4px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

li {
  margin-bottom: 0.5em;
}

.list {
  display: flex;
}

.list__link:hover {
  background: #ccc;
}

.list__link {
  border: 1px solid #ccc;
  border-right: none;
  background: white;
}

.list__link a {
  display: inline-block;
  padding: 0.5em 1em;
}

.list__link:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.list__link:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #ccc;
}

.list__link--active {
  font-weight: bold;
  color: black;
}

.tab-content {
  padding: 1em;
}
