body {
  font-family: Helvetica;
  margin: auto;
  padding: 1em;
  font-size: 16px;
}

a {
  cursor: pointer;
}

input {
  font-size: 1em;
  padding: 1em;
  border-radius: 4px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

li {
  margin-bottom: 0.5em;
}

.tab-content {
  padding: 1em;
}
